management:
  endpoint:
    beans:
      enabled: true
    health:
      enabled: true
      show-details: always
      status:
        http-mapping:
          down: 500
          out_of_service: 503
          warning: 500
    shutdown:
      enabled: true
    mappings:
      enabled: true
  endpoints:
    enabled-by-default: false
    web:
      exposure:
        include: "*"
  health:
    probes:
      enabled: true
logging:
  level:
    org:
      springframework:
        web:
          servlet:
            DispatcherServlet: INFO
    root: INFO
  pattern:
    console: "%d{yyyy-MMM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{0}.%method - %message%n"
server:
  error:
    whitelabel:
      enabled: false
  port: 8882
spring:
  application:
    name: randomizer
  mvc:
    throw-exception-if-no-handler-found: true
  resources:
    add-mappings: false
  pavelshapel:
    stream-utils: true
    randomizers: true
    json-converter: true
    wrappers: true
